.start-menu__launch-icon {
	border-radius: 5px;
	min-width: 42px;
	min-height: 42px;
}

.start-menu__launch-icon--open {
	background-color: rgba(255, 255, 255, 0.1);
}

.start-menu__window {
	border: 1px solid #555555;
	border-radius: 10px;
	background-color: rgba(48, 48, 48, 0.8);
	min-width: 640px;
	min-height: 725px;
}

.start-menu__action-bar {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: rgba(33, 33, 33, 1);
	padding: 8px 52px 8px 52px;
}

.start-menu__label-pinned {
	font-weight: bold;
	font-size: 12px;
}

.start-menu__search-input {
	border: 1px solid #444444;
	border-radius: 15px;
	min-height: 28px;
	background-color: rgba(33, 33, 33, 1);
}

.start-menu__app-icon {
	min-width: 82px;
	min-height: 76px;
	border-radius: 4px;
}

.start-menu__account-icon {

}

.start-menu__username {
	font-size: 14px;
	margin-left: 8px;
}

.start-menu__user-settings-button {
	padding: 8px;
}

.start-menu__power, .start-menu__settings {
	min-width: 38px;
	min-height: 38px;
}
