.start-menu__launch-icon {
	border-radius: 5px;
}

.start-menu__launch-icon:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.start-menu__window {
	border: 1px solid #555555;
	border-radius: 10px;
	background-color: rgba(48, 48, 48, 1);
}

.start-menu__action-bar {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: rgba(33, 33, 33, 1);
	padding: 8px 52px 8px 52px;
}

.start-menu__label-pinned {
	font-weight: bold;
	font-size: 12px;
}

.start-menu__search-input text {
	color: black;
	background-color: white;
	border: 0;
	border-radius: 15px;
}

.start-menu__app-icon:hover {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 4px;
}

.start-menu__account-icon {

}

.start-menu__username {
	font-size: 14px;
	margin-left: 8px;
}

.start-menu__power {

}

.start-menu__power:hover, .start-menu__settings:hover {
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.1);
}
