.window-picker__grid {
	padding: 6px;
}

.window-picker__screenshot {
	margin-top: 4px;
	min-height: 100px;
}

.window-picker__app:hover {
	background-color: rgba(100, 100, 100, 1);
}

.window-picker__app-icon {
	min-height: 24px;
}

.window-picker__app-name {
	margin-left: 4px;
}

.window-picker__app-close-button {
	border-radius: 4px;
	min-width: 24px;
	min-height: 24px;
}

.window-picker__app-close-button:hover {
	background-color: rgba(255, 0, 0, 0.5);
}
